{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block content %}
<form class="form-signin" method="POST" action="">{% csrf_token %}
<h1 class="h3 mb-3 fw-normal">Please login</h1>
<div class="form-floating">
    <input type="text" class="form-control" name="username" id="floatingInput" placeholder="username">
    <label for="floatingInput">Username</label>
</div>
<div class="form-floating">
    <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
</div>
<button class="btn btn-primary w-100 py-2" type="submit">login</button>
<br>
<br>
ログインできませんか？：<a href="signup">サインアップ</a>
<p class="mt-5 mb-3 text-body-secondary">&copy; 2026</p> 
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-jdSIJTK9l6XwXj3RixpVDXtMcA2bFd9O81RlLAwhpr2oXRqvQP88rr16IeFXTgFE" crossorigin="anonymous" class="astro-vvvwv3sm"></script>
</form>
{% endblock content %}
